*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin-left: 500px;
    display: flex;
    align-items: center;
    gap:50px;
    margin-top: 50px;
}
.forma{
    width:200px;
    height: 50px;
}
th, td{
    border: 1px solid black;
    width: 100px;
    text-align: center;
}
thead{
    width:100px;
}
#input1, #input2{
    width:120px;
    height: 40px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 5px;
}
.btn{
    width:120px;
    height: 50px;
    border-radius:20px;
    background-color: blueviolet;
}